@model SettingsViewModels
@{
    ViewBag.Title = Html.Lang("邮箱设置");
}
<div class="panel">
    <div class="panel-header">
        <h3>@Html.Lang("邮箱设置")</h3>
    </div>
    <div class="panel-body">
        <form action="@Url.Content("~/admin/settings/update/")" method="post" class="form-box">
            <div class="form-group">
                <label for="@AppConstants.AdminEmailAddress">@Html.Lang("管理员邮箱")</label>
                <input type="email" name="@AppConstants.AdminEmailAddress" value="@Model.Settings[AppConstants.AdminEmailAddress].Value" id="@AppConstants.AdminEmailAddress" class="text" placeholder="@Html.Lang("请输入管理员邮箱")" />
            </div>
            <div class="form-group">
                <label for="@AppConstants.NotificationReplyEmail">@Html.Lang("通知邮箱")</label>
                <input type="email" name="@AppConstants.NotificationReplyEmail" value="@Model.Settings[AppConstants.NotificationReplyEmail].Value" id="@AppConstants.NotificationReplyEmail" class="text" placeholder="@Html.Lang("请输入通知邮箱")" />
            </div>
            <div class="form-group">
                <label for="@AppConstants.SMTPServer">@Html.Lang("SMTP 服务器")</label>
                <input type="text" name="@AppConstants.SMTPServer" value="@Model.Settings[AppConstants.SMTPServer].Value" id="@AppConstants.SMTPServer" class="text" placeholder="@Html.Lang("请输入 SMTP 服务器")" />
            </div>
            <div class="form-group">
                <label for="@AppConstants.SMTPUsername">@Html.Lang("SMTP 用户名")</label>
                <input type="text" name="@AppConstants.SMTPUsername" value="@Model.Settings[AppConstants.SMTPUsername].Value" id="@AppConstants.SMTPUsername" class="text" placeholder="@Html.Lang("请输入 SMTP 用户名")" />
            </div>
            <div class="form-group">
                <label for="@AppConstants.SMTPPassword">@Html.Lang("SMTP 密码")</label>
                <input type="text" name="@AppConstants.SMTPPassword" value="@Model.Settings[AppConstants.SMTPPassword].Value" id="@AppConstants.SMTPPassword" class="text" placeholder="@Html.Lang("请输入 SMTP 密码")" />
            </div>
            <div class="form-group">
                <label for="@AppConstants.SMTPPort">@Html.Lang("SMTP 端口")</label>
                <input type="text" name="@AppConstants.SMTPPort" value="@Model.Settings[AppConstants.SMTPPort].Value" id="@AppConstants.SMTPPort" class="text" placeholder="@Html.Lang("请输入 SMTP 端口")" />
            </div>
            <div class="form-group">
                <div class="sm-line">
                    <button type="submit" name="submit" class="btn btn-danger">@Html.Lang("保存设置")</button>
                </div>
            </div>
        </form>
    </div>
</div>