@model BaseSettingsViewModels
@{
    ViewBag.Title = Html.Lang("基本设置");
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-cog"></i>
            @Html.Lang("基本设置")
        </h3>
    </div>
</div>
<div class="main-content">
    <div class="forum-panel">
        <form action="@Url.Absolute("~/admin/settings/update/")" method="post" class="form-horizontal" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="returnUrl" value="@Url.Absolute("~/admin/settings/")" />
            <div class="form-group">
                <label class="control-label" for="@AppConstants.SiteName">@Html.Lang("论坛名称")</label>
                <input type="text" name="@AppConstants.SiteName" class="form-control" id="@AppConstants.SiteName" value="@Model.Settings[AppConstants.SiteName].Value" placeholder="@Html.Lang("请输入论坛名称")" />
            </div>
            <div class="form-group">
                <label class="control-label" for="@AppConstants.SiteUrl">@Html.Lang("论坛网址")</label>
                <input type="text" class="form-control" name="@AppConstants.SiteUrl" id="@AppConstants.SiteUrl" value="@Model.Settings[AppConstants.SiteUrl].Value" placeholder="@Html.Lang("请输入论坛的网址")" />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("当前语言")</label>
                <select name="@AppConstants.LanguageCulture" class="form-control selecter">
                    @foreach (var culture in Model.Cultural)
                    {
                        <option value="@culture.Name" @(culture.Name == Model.Settings[AppConstants.LanguageCulture].Value ? "selected" : "")>@culture.DisplayName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("当前时区")</label>
                <select class="form-control selecter" name="@AppConstants.TimeZone">
                    @foreach (var timeZone in TimeZoneInfo.GetSystemTimeZones())
                    {

                        <option value="@timeZone.Id" @(timeZone.Id == Model.Settings[AppConstants.TimeZone].Value ? "selected" : "")>@timeZone.DisplayName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("关闭论坛")</label>
                <select name="@AppConstants.IsClosed" class="form-control selecter">
                    <option value="true" @(Model.Settings[AppConstants.IsClosed].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                    <option value="false" @(Model.Settings[AppConstants.IsClosed].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("RSS订阅")</label>
                <select name="@AppConstants.EnableRSSFeeds" class="form-control selecter">
                    <option value="true" @(Model.Settings[AppConstants.EnableRSSFeeds].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                    <option value="false" @(Model.Settings[AppConstants.EnableRSSFeeds].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("用户注册")</label>
                <select name="@AppConstants.EnableRegister" class="form-control selecter">
                    <option value="true" @(Model.Settings[AppConstants.EnableRegister].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                    <option value="false" @(Model.Settings[AppConstants.EnableRegister].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("新用户分组")</label>
                <select name="@AppConstants.NewMemberStartingRole" class="form-control selecter">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Id" @(int.Parse(Model.Settings[AppConstants.NewMemberStartingRole].Value) == role.Id ? "selected" : "")>@role.RoleName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="@AppConstants.TopicsPerPage">@Html.Lang("每页主题数量")</label>
                <input type="text" name="@AppConstants.TopicsPerPage" value="@Model.Settings[AppConstants.TopicsPerPage].Value" id="@AppConstants.TopicsPerPage" class="form-control" placeholder="@Html.Lang("主题列表每页显示数量")" />
            </div>
            <div class="form-group">
                <label class="control-label" for="@AppConstants.PostsPerPage">@Html.Lang("每页评论数量")</label>
                <input type="text" name="@AppConstants.PostsPerPage" value="@Model.Settings[AppConstants.PostsPerPage].Value" id="@AppConstants.PostsPerPage" class="form-control" placeholder="@Html.Lang("回复列表每页显示数量")" />
            </div>
            <div class="form-group">
                <label class="control-label" for="@AppConstants.AnalyticsCode">@Html.Lang("统计代码")</label>
                <textarea name="@AppConstants.AnalyticsCode" id="@AppConstants.AnalyticsCode" rows="8" class="form-control" placeholder="@Html.Lang("统计代码")">@Model.Settings[AppConstants.AnalyticsCode].Value</textarea>
            </div>
            <div class="form-btns">
                <div class="sm-line">
                    <button type="submit" class="btn btn-danger">@Html.Lang("保存设置")</button>
                </div>
            </div>
        </form>
    </div>
</div>