@model BaseSettingsViewModels
@{
    ViewBag.Title = Html.Lang("基本设置");
}
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>@Html.Lang("基本设置")</h4>
            </div>
            <div class="grid-body no-border">
                <form action="@Url.Content("~/admin/settings/update/")" method="post" class="form-box">
                    <input type="hidden" name="returnUrl" value="@Url.Content("~/admin/settings/")" />
                    <div class="form-group">
                        <label class="form-label" for="@AppConstants.SiteName">@Html.Lang("论坛名称")</label>
                        <div class="controls">
                            <input type="text" name="@AppConstants.SiteName" class="form-control" id="@AppConstants.SiteName" value="@Model.Settings[AppConstants.SiteName].Value" placeholder="@Html.Lang("请输入论坛名称")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="@AppConstants.SiteUrl">@Html.Lang("论坛网址")</label>
                        <div class="controls">
                            <input type="text" class="form-control" name="@AppConstants.SiteUrl" id="@AppConstants.SiteUrl" value="@Model.Settings[AppConstants.SiteUrl].Value" placeholder="@Html.Lang("请输入论坛的网址")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("当前语言")</label>
                        <div class="controls">
                            <select name="@AppConstants.LanguageCulture">
                                @foreach (var culture in Model.Cultural)
                                {
                                    <option value="@culture.Name" @(culture.Name == Model.Settings[AppConstants.LanguageCulture].Value ? "selected" : "")>@culture.EnglishName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("关闭论坛")</label>
                        <div class="controls">
                            <select name="@AppConstants.IsClosed">
                                <option value="true" @(Model.Settings[AppConstants.IsClosed].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                                <option value="false" @(Model.Settings[AppConstants.IsClosed].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("RSS订阅")</label>
                        <div class="controls">
                            <select name="@AppConstants.EnableRSSFeeds">
                                <option value="true" @(Model.Settings[AppConstants.EnableRSSFeeds].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                                <option value="false" @(Model.Settings[AppConstants.EnableRSSFeeds].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("用户注册")</label>
                        <div class="controls">
                            <select name="@AppConstants.EnableRegister">
                                <option value="true" @(Model.Settings[AppConstants.EnableRegister].Value == "true" ? "selected" : "")>@Html.Lang("开启")</option>
                                <option value="false" @(Model.Settings[AppConstants.EnableRegister].Value != "true" ? "selected" : "")>@Html.Lang("关闭")</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="@AppConstants.TopicsPerPage">@Html.Lang("每页主题数量")</label>
                        <div class="controls">
                            <input type="text" name="@AppConstants.TopicsPerPage" value="@Model.Settings[AppConstants.TopicsPerPage].Value" id="@AppConstants.TopicsPerPage" class="text" placeholder="@Html.Lang("主题列表每页显示数量")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="@AppConstants.PostsPerPage">@Html.Lang("每页回复数量")</label>
                        <div class="controls">
                            <input type="text" name="@AppConstants.PostsPerPage" value="@Model.Settings[AppConstants.PostsPerPage].Value" id="@AppConstants.PostsPerPage" class="text" placeholder="@Html.Lang("回复列表每页显示数量")" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("新用户所属分组")</label>
                        <div class="controls">
                            <select name="@AppConstants.NewMemberStartingRole">
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role.Id" @(int.Parse(Model.Settings[AppConstants.NewMemberStartingRole].Value) == role.Id ? "selected" : "")>@role.RoleName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-success btn-cons">@Html.Lang("保存设置")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>