@model PermissionsViewModels
@{
    ViewBag.Title = Html.Lang("权限");
}
<div class="row-fluid">
    <div class="span12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>@Html.Lang("权限设置")</h4>
            </div>
            <div class="grid-body no-border">
                <div class="row">
                    <div class="span12">
                        <select name="user-role" id="permissioninrole">
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.Id">@role.RoleName</option>
                            }
                        </select>
                    </div>
                    <table class="table table-striped dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var permission in Model.Permissions)
                                {
                                    <th>@permission.Name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.Categories)
                            {
                                <tr>
                                    <td>@category.Name</td>
                                    @foreach (var permission in Model.Permissions)
                                    {
                                        var isChecked = "";
                                        <td>
                                            <span class="permissioncheckbox checkbox check-default">
                                                <input data-permisssion="@permission.Id" data-category="@category.Id" data-role="" type="checkbox" id="@permission.Id-@category.Id" @isChecked />
                                                <label for="@permission.Id-@category.Id"></label>
                                            </span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>