@model SettingsViewModels
@{
    ViewBag.Title = Html.Lang("积分设置");
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-tasks"></i>
            @Html.Lang("积分设置")
        </h3>
    </div>
</div>
<div class="main-content">
    <div class="forum-panel">
        <form action="@Url.Absolute("~/admin/settings/update")" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label" for="@AppConstants.PointsAddedPerTopic">@Html.Lang("发布主题")</label>
                <input type="text" name="@AppConstants.PointsAddedPerTopic" value="@Model.Settings[AppConstants.PointsAddedPerTopic].Value" id="@AppConstants.PointsAddedPerTopic" class="form-control" placeholder="@Html.Lang("发布主题添加的积分")" />
            </div>
            <div class="form-group">
                <label class="control-label" for="@AppConstants.PointsAddedPerPost">@Html.Lang("添加回复")</label>
                <input type="text" name="@AppConstants.PointsAddedPerPost" value="@Model.Settings[AppConstants.PointsAddedPerPost].Value" id="@AppConstants.PointsAddedPerPost" class="form-control" placeholder="@Html.Lang("发表回复添加的积分")" />
            </div>
            <div class="form-btns">
                <div class="sm-line">
                    <button type="submit" class="btn btn-danger">@Html.Lang("保存设置")</button>
                </div>
            </div>
        </form>
    </div>
</div>
