@model Candy.Domain.Models.User
@{
    Layout = "~/Themes/Default/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = Html.Lang("设置");
    var avatar = string.Empty;
    if (Model.Avatar.IsNullEmpty())
    {
        avatar = StringUtils.GetGravatarImage(Model.Email, 300);
        if (avatar.IsNullEmpty())
        {
            avatar = DependencyResolver.Current.GetService<Candy.Domain.Interfaces.Services.ISettingsService>().Get(AppConstants.DefaultUserAvatar).Value;
        }
    }
    else
    {
        avatar = Url.Content(Model.Avatar);
    }
}
<div class="forum-panel">
    <div class="filter">
        <ul class="nav nav-tabs">
            <li class="active"><a href="http://localhost:3173/">基本资料</a></li>
            <li><a href="http://localhost:3173/Home/Popular/">个人信息</a></li>
            <li><a href="http://localhost:3173/Home/Sticky/">修改头像</a></li>
        </ul>
    </div>
    <div class="settings">
        <form action="@Url.Absolute("~/settings/")" method="Post" id="base-settings" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label">
                    @Html.Lang("用户名")
                </label>
                <input type="text" name="username" id="username" value="hubert" class="form-control " placeholder="请输入用户名" disabled />
            </div>
            <div class="form-group">
                <label for="slug" class="control-label">@Html.Lang("昵称")</label>
                <input type="text" name="slug" id="slug" value="@Model.Slug" class="form-control " placeholder="请输入昵称">
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("性别")</label>
                <select name="" class="form-control selecter">
                    <option value="">@Html.Lang("男")</option>
                    <option value="">@Html.Lang("女")</option>
                    <option value="">@Html.Lang("其他")</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.Lang("生日")</label>
                <div class="input-group">
                    <select name="" class="form-control selecter">
                        @for (var i = 1900; i <= DateTime.Now.Year; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    @*<input type="text" name="year" id="" value="" class="form-control" placeholder="年">*@
                    <span class="input-group-addon" style="border-left:none;">年</span>
                    <select name="" class="form-control selecter">
                        <option value="1">一</option>
                        <option value="2">二</option>
                        <option value="3">三</option>
                        <option value="4">四</option>
                        <option value="5">五</option>
                        <option value="6">六</option>
                        <option value="7">七</option>
                        <option value="8">八</option>
                        <option value="9">九</option>
                        <option value="10">十</option>
                        <option value="11">十一</option>
                        <option value="12">十二</option>
                    </select>
                    <span class="input-group-addon" style="border-left:none;">@Html.Lang("月")</span>
                    <select name="" class="form-control selecter">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                    </select>
                    <span class="input-group-addon">日</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label">
                    @Html.Lang("电子邮箱")
                </label>
                <input type="email" name="email" id="email" value="@Model.Email" class="form-control" placeholder="请输入邮箱">
            </div>
            <div class="form-group">
                <label for="website" class="control-label">个人网站</label>
                <input type="url" name="website" id="website" value="@Model.Website" class="form-control" placeholder="请输入个人网站">
            </div>
            <div class="form-group">
                <label for="weibo" class="control-label">新浪微博</label>
                <input type="text" name="weibo" id="weibo" value="" class="form-control" placeholder="新浪微博">
            </div>
            <div class="form-group">
                <label for="gplus" class="control-label">Google+</label>
                <input type="text" name="gplus" id="gplus" value="" class="form-control" placeholder="Google+">
            </div>
            <div class="form-group">
                <div class="sm-line">
                    <button type="submit" class="btn btn-danger">更新个人信息</button>
                </div>
            </div>
        </form>
    </div>
</div>