@model IList<Category>
@{
    ViewBag.Title = Html.Lang("版块列表");
}
<div class="forum-panel">
    <div class="page-title">
        <h2>@Html.Lang("版块列表")</h2>
    </div>
    <div class="category-list">
        @if (Model.Any())
        {
            foreach (var m in Model)
            {
                //话题总数
                var topicCount = m.Topics.Count;
                //今日话题
                var todayTopicCount = m.Topics.Where(x => x.CreateDate.ToShortDateString() == DateTime.UtcNow.ToShortDateString()).Count();

                var lastTopic = m.Topics.OrderByDescending(x => x.CreateDate).FirstOrDefault();
                 <div class="category">
                     <div class="category-avatar">
                         <a href="@Url.Absolute(m.NiceUrl)">
                             <img src="@Url.Absolute(Html.Path("img/section.png"))" />
                         </a>
                     </div>
                     <div class="category-info">
                         <h3 class="category-title">
                             <a href="@Url.Absolute(m.NiceUrl)">@m.Name</a>
                         </h3>
                         @if (lastTopic != null)
                         {
                             <a href="@Url.Absolute(lastTopic.NiceUrl)" class="last-topic">@lastTopic.Name</a>
                         }
                         else
                         {
                             <p>@m.Description</p>
                         }
                     </div>
                     <div class="category-meta">
                         <span class="tcount tips tips-important" title="@Html.Lang("今日话题")">@todayTopicCount</span>
                         <span class="ncount tips tips-important" title="@Html.Lang("话题统计")">@topicCount</span>
                     </div>
                </div>
            } 
        }
    </div>
</div>