@model CategoryViewModel
@{
    ViewBag.Title = Html.Lang("版块列表");
}
<div id="headline" class="container">

</div>
<div id="main" class="grid grid-right-300">
    <div id="section" class="col-1-300">
        @foreach (var m in Model.Categories)
        {
             <div class="panel">
                <div class="panel-header">
                    <h3>@m.ParentCategory.Name</h3>
                </div>
                <div class="panel-body">
                    <ul class="forum-list">
                        @foreach (var s in m.AllPermissionSets.Keys)
                        {
                            if (m.AllPermissionSets[s][AppConstants.PermissionDenyAccess].IsTicked)
                            {
                                continue; 
                            }
                            //话题总数
                            var topicCount = s.Topics.Count;
                            //今日话题
                            var todayTopicCount = s.Topics.Where(x => x.CreateDate.ToShortDateString() == DateTime.UtcNow.ToShortDateString()).Count();

                            var lastTopic = s.Topics.OrderByDescending(x => x.CreateDate).FirstOrDefault();
                             <li class="forum">
                                <div class="forum-avatar">
                                    <a href="@Url.Content(s.NiceUrl)">
                                        <img src="@Url.Content(Html.Path("img/section.png"))" />
                                    </a>
                                </div>
                                <div class="forum-info">
                                    <h3 class="forum-title">
                                        <a href="@Url.Content(s.NiceUrl)">@s.Name</a>
                                    </h3>
                                    @if (lastTopic != null)
                                    {
                                        <a href="@Url.Content(lastTopic.NiceUrl)" class="new-topic">@lastTopic.Name</a>
                                    }else
                                    {
                                        <p>@s.Description</p>
                                    }
                                </div>
                                <div class="forum-meta">
                                    <span class="tcount" title="@Html.Lang("今日话题")">@todayTopicCount</span>
                                    <span class="ncount" title="@Html.Lang("话题统计")">@topicCount</span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    <div id="sidebar" class="col-2-300">
        @Html.Action("Index","Widget")
    </div>
</div>