@model ViewCategoryViewModel
@{
    ViewBag.Title = Model.Category.Name;
}
<div class="forum-panel">
    <div class="page-title">
        <h2>@Model.Category.Name</h2>
    </div>
    <div class="topics">
        @if (Model.Topics.Any())
        {
            foreach (var topic in Model.Topics)
            {
                <div class="topic">
                    <div class="topic-user-avatar">
                        <a href="@Url.Absolute(topic.User.NiceUrl)">
                            <img src="@Url.Absolute(topic.User.GetAvatar(48))" class="avatar" />
                        </a>
                    </div>
                    <div class="topic-info">
                        <div class="topic-title">
                            <a class="tips tips-important" href="@Url.Absolute(topic.Category.NiceUrl)">@topic.Category.Name<i class="tips-arrow"></i></a>
                            <h2 class="topic-title">
                                <a href="@Url.Absolute(topic.NiceUrl)">@topic.Name</a>
                            </h2>
                            <a class="tips tips-important topic-total-comment" href="@Url.Absolute(topic.NiceUrl)#comment-list" title="@Html.Lang("{0}条评论",topic.Posts.Where(a=>a.PostType == PostType.comment.ToString()).Count())">
                                <i class="fa fa-comments"></i>@topic.Posts.Where(a => a.PostType == PostType.comment.ToString()).Count()
                            </a>
                        </div>
                        <div class="topic-meta">
                            <span>
                                <a href="@Url.Absolute(topic.User.NiceUrl)" title="@topic.User.Slug">@topic.User.Slug</a>
                                &nbsp;@Html.Lang("发布于")&nbsp;@DatesUI.GetPrettyDate(DatesUI.GetLocalDate(topic.Posts.Where(a => a.PostType == PostType.topic.ToString()).FirstOrDefault().DateCreated))&nbsp;
                            </span>
                            <span>
                                回复(@topic.Posts.Where(p => p.PostType == PostType.comment.ToString()).Count())
                            </span>
                            <span>
                                阅读(@topic.Views)
                            </span>
                            <span class="pull-right topic-last-comment">
                                @if (topic.Posts.Any(a => a.PostType == PostType.comment.ToString()))
                                {
                                    <a href="@Url.Absolute("~/user/info/1")" title="@topic.User.Slug">@topic.User.Slug</a>
                                    <text>&nbsp;@Html.Lang("最后回复于")&nbsp;</text>
                                    @DatesUI.GetPrettyDate(DatesUI.GetLocalDate(topic.Posts.OrderByDescending(a => a.DateCreated).FirstOrDefault(a => a.PostType == PostType.comment.ToString()).DateCreated))
                                }
                                else
                                {
                                    <text>@Html.Lang("还没有评论")</text>
                                }
                            </span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-topic">
                <p>@Html.Lang("还没有任何帖子")</p>
            </div>
        }
    </div>
    @*@if (Model.TotalPages > 1)
    {
        var pager = new Pager
        {
            CurrentPage = Model.PageIndex,
            PageSize = Model.PageSize,
            TotalItemCount = Model.TotalCount,
            TotalPages = Model.TotalPages,
            RouteValues = null
        };
        Html.RenderPartial("_Pager", pager);
    }*@
</div>