@model TopicTag
@{
    ViewBag.Title = Model.Tag;
}
<div class="forum-panel">
    <div class="page-title">
        <h2>@Model.Tag</h2>
    </div>
    <div class="topics">
        @if (Model.Topics.Any())
        {
            foreach (var topic in Model.Topics)
            {
                <div class="topic">
                    <div class="topic-user-avatar">
                        <a href="@Url.Absolute(topic.User.NiceUrl)">
                            <img src="@Url.Absolute(topic.User.GetAvatar(48))" class="avatar" />
                        </a>
                    </div>
                    <div class="topic-info">
                        <div class="topic-title">
                            <a class="tips tips-important" href="@Url.Absolute(topic.Category.NiceUrl)">@topic.Category.Name<i class="tips-arrow"></i></a>
                            <h2 class="topic-title">
                                <a href="@Url.Absolute(topic.NiceUrl)">@topic.Name</a>
                            </h2>
                            <span class="tips tips-important topic-total-comment">@topic.Posts.Count</span>
                        </div>
                        <div class="topic-meta">
                            <span>
                                <a href="@Url.Absolute(topic.User.NiceUrl)" title="@topic.User.Slug">@topic.User.Slug</a>
                                &nbsp;发布于&nbsp;@DatesUI.GetPrettyDate(topic.Posts.FirstOrDefault().DateCreated)&nbsp;
                            </span>
                            <span>
                                回复(@topic.Posts.Where(p => p.PostType == PostType.post.ToString()).Count())
                            </span>
                            <span>
                                阅读(@topic.Views)
                            </span>
                            <span class="pull-right topic-last-comment">
                                <a href="@Url.Absolute("~/user/info/1")" title="@topic.User.Slug">@topic.User.Slug</a> 最后回复于
                                @DatesUI.GetPrettyDate(topic.Posts.FirstOrDefault().DateCreated)
                            </span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-topic">
                <p>@Html.Lang("还没有任何帖子")</p>
            </div>
        }
    </div>
    <div class="forum-pager">
        <ul class="pagination">
            <li class="disabled">
                <a href="javascript:;" class="paginator-previous">上一页</a>
            </li>
            <li class="active"><a href="?page=1">1</a></li>
            <li class="paginator-page"><a href="?page=2">2</a></li>
            <li class="paginator-page"><a href="?page=3">3</a></li>
            <li class="paginator-page"><a href="?page=4">4</a></li>
            <li class=""><a href="?page=2" class="paginator-next">下一页</a></li>
        </ul>
    </div>
</div>