@{
    ViewBag.Title = Html.Lang("管理首页");
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-home"></i>
            @Html.Lang("管理首页")
        </h3>
    </div>
</div>
<div class="main-content" id="home">
    <div class="gridly">
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("今日主题")</h3>
            </div>
            <div class="forum-body">
                @Html.Action("TodaysTopics")
            </div>
        </div>
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("更新推送")</h3>
            </div>
            <div class="forum-body">
                更新推送
            </div>
        </div>
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("最新用户")</h3>
            </div>
            <div class="forum-body">
                @Html.Action("LatestUsers")
            </div>
        </div>
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("活跃用户")</h3>
            </div>
            <div class="forum-body">
                活跃用户
            </div>
        </div>
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("热门主题")</h3>
            </div>
            <div class="forum-body">
                热门主题
            </div>
        </div>
        <div class="forum-panel brick">
            <div class="forum-title">
                <h3>@Html.Lang("官方动态")</h3>
            </div>
            <div class="forum-body">
                官方动态
            </div>
        </div>
    </div>
</div>