@{
    ViewBag.Title = Html.Lang("添加页面");
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-tasks"></i>
            @Html.Lang("添加页面")
        </h3>
    </div>
</div>
<div class="main-content">
    <div class="forum-panel">
        <form action="@Url.Absolute("~/admin/page/new/")" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label" for="name">@Html.Lang("名称")</label>
                <input type="text" name="name" id="name" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" for="description">@Html.Lang("简介")</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-btns">
                <div class="sm-line">
                    <button type="submit" class="btn btn-danger">@Html.Lang("添加")</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="@Url.Absolute(Html.AdminPath("js/simditor-all.min.js"))"></script>
<script type="text/javascript">
    $(function () {
        var editor = new Simditor({
            textarea: $('#description')
        });
    });
</script>