@model PagedList<Topic>
@{
    ViewBag.Title = Html.Lang("热门主题");
}
<div class="forum-panel">
    <div class="filter">
        <ul class="nav nav-tabs">
            <li><a href="@Url.Absolute("~")">@Html.Lang("最新主题")</a></li>
            <li class="active"><a href="@Url.Absolute("~/Home/Popular/")">@Html.Lang("热门主题")</a></li>
            <li><a href="@Url.Absolute("~/Home/Sticky/")">@Html.Lang("推荐主题")</a></li>
        </ul>
    </div>
    <div class="topics">
        @foreach (var topic in Model)
        {
            <div class="topic">
                <div class="topic-user-avatar">
                    <a href="@Url.Absolute(topic.User.NiceUrl)">
                        <img src="@Url.Absolute(topic.User.GetAvatar(48))" class="avatar" />
                    </a>
                </div>
                <div class="topic-info">
                    <div class="topic-title">
                        <a class="tips tips-important" href="@Url.Absolute(topic.Category.NiceUrl)">@topic.Category.Name<i class="tips-arrow"></i></a>
                        <h2 class="topic-title">
                            <a href="@Url.Absolute(topic.NiceUrl)">@topic.Name</a>
                        </h2>
                        <span class="tips tips-important topic-total-comment">@topic.Posts.Count</span>
                    </div>
                    <div class="topic-meta">
                        <span>
                            <a href="@Url.Absolute(topic.User.NiceUrl)" title="@topic.User.Slug">@topic.User.Slug</a>
                            &nbsp;发布于&nbsp;@DatesUI.GetPrettyDate(topic.Posts.FirstOrDefault().DateCreated)&nbsp;
                        </span>
                        <span>
                            回复(@topic.Posts.Where(p => p.PostType == PostType.post.ToString()).Count())
                        </span>
                        <span>
                            阅读(@topic.Views)
                        </span>
                        <span class="pull-right topic-last-comment">
                            <a href="@Url.Absolute("~/user/info/1")" title="@topic.User.Slug">@topic.User.Slug</a> 最后回复于
                            @DatesUI.GetPrettyDate(topic.Posts.FirstOrDefault().DateCreated)
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>    
    @if (Model.TotalPages > 1)
    {
        var pager = new Pager
        {
            CurrentPage = Model.PageIndex,
            PageSize = Model.PageSize,
            TotalItemCount = Model.TotalCount,
            TotalPages = Model.TotalPages,
            RouteValues = null
        };
        Html.RenderPartial("_Pager", pager);
    }
</div>