@model CategoryEditViewModels
@{
    ViewBag.Title = Html.Lang("编辑版块");
}
@functions{
    public IHtmlString DisplayTree(List<CategotyViewModels> cats,System.Text.StringBuilder sb, string plain)
    {
        foreach(var cat in cats)
        {
            sb.Append(string.Format("<option value={0} {1}>{2}</option>", cat.Category.Id, cat.Category == Model.Category.ParentCategory ? "selected" : "", plain + cat.Category.Name));
            if(cat.SubCategories.Any())
            {
                DisplayTree(cat.SubCategories, sb, plain + "&nbsp;&nbsp;&nbsp;&nbsp;");
            }
        }
        return new HtmlString(sb.ToString());
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>@Html.Lang("编辑")</h4>
            </div>
            <div class="grid-body no-border">
                <form action="" method="post" class="form-box">
                    <div class="form-group">
                        <label class="form-label" for="name">@Html.Lang("名称")</label>
                        <div class="controls">
                            <input type="text" name="name" id="name" value="@Model.Category.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="sortorder">@Html.Lang("排序")</label>
                        <div class="controls">
                            <input type="number" name="sortorder" id="sortorder" value="@Model.Category.SortOrder" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="parent">@Html.Lang("父级")</label>
                        <div class="controls">
                            <select name="parent" id="parent" class="text">
                                <option value="0" @(Model.Category.ParentCategory == null ? "selected" : "")>@Html.Lang("无")</option>
                                @DisplayTree(Model.Categories, new System.Text.StringBuilder(), string.Empty)
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="icon">@Html.Lang("图标")</label>
                        <div class="controls">
                            <input type="file" name="icon" id="icon" class="form-control file" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">@Html.Lang("版主")</label>
                        <div class="controls">
                            <input type="text" name="" id="" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">@Html.Lang("简介")</label>
                        <div class="controls">
                            <textarea class="text" name="description" id="description">@Model.Category.Description</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="pull-left">
                            <button type="submit" name="submit" class="btn btn-success btn-cons">@Html.Lang("保存")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
<link rel="stylesheet" type="text/css" href="@Url.Absolute(Html.AdminPath("css/simditor.css"))" />
<script type="text/javascript" src="@Url.Absolute(Html.AdminPath("js/simditor-all.min.js"))"></script>
<script type="text/javascript" src="@Url.Absolute(Html.AdminPath("js/select2.min.js"))"></script>
<script type="text/javascript">
    $(function () {
        var editor = new Simditor({
            textarea: $('#description')
        });
        $("#parent").select2({
            width:"100%"
        });
    });
</script>