@model CategoryListViewModels

@{
    ViewBag.Title = Html.Lang("所有版块");
}
@functions{
    public IHtmlString DisplayTree(List<CategotyViewModels> cats, System.Text.StringBuilder sb, string plain)
    {
        foreach (var cat in cats)
        {
            sb.Append(DisplayCategory(cat.Category, plain).ToHtmlString());
            if (cat.SubCategories.Any())
            {
                DisplayTree(cat.SubCategories, sb, plain + "&nbsp;&nbsp;&nbsp;&nbsp;");
            }
        }
        return new HtmlString(sb.ToString());
    }
}
@helper DisplayCategory(Category cat, string plain)
{
    <tr>
        @if (cat.ParentCategory != null)
        {
            <td>@Html.Raw(plain)-&nbsp;@(cat.Name)</td>
        }
        else
        {
            <td>@cat.Name</td>
        }
        <td>
            <a href="">@cat.Topics.Count</a>
        </td>
        <td>
            <a href="@Url.Absolute("~/admin/category/edit/"+cat.Id)" title="@Html.Lang("编辑")"><i class="fa fa-plus-circle"></i></a>
            <a href="@Url.Absolute("~/admin/category/delete/"+cat.Id)" title="@Html.Lang("删除")"><i class="fa fa-times-circle"></i></a>
        </td>
    </tr>
}
<div class="mod_navbar">
    <div class="title">
        <h3 class="ng-binding ng-scope">
            <i class="fa fa-tasks"></i>
            @Html.Lang("所有版块")
        </h3>
    </div>
</div>
<div class="main-content">
    <div class="forum-panel">
        <div class="form-horizontal">
            <table class="table table-hover table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.Lang("版块")
                        </th>
                        <th>
                            @Html.Lang("帖子")
                        </th>
                        <th class="center short">
                            @Html.Lang("操作")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @DisplayTree(Model.Categories, new System.Text.StringBuilder(), string.Empty)
                </tbody>
            </table>
        </div>
    </div>
</div>