@model CreateTopicViewModel
@{
    ViewBag.Title = Html.Lang("发布主题");
}
<div class="forum-panel">
    <div class="page-title">
        <h2>@Html.Lang("发表主题")</h2>
    </div>
    <div class="topic-editor">
        <form method="post" action="@Url.Absolute("~/Topic/New/")" id="topic-form" class="form-box">
            <div class="input-group">
                <div class="input-group-btn">
                    @if (Model.Category == 0)
                    {
                        <select name="category" id="categories" class="selecter">
                            @if (Model.Categories.Any())
                            {
                                foreach (var c in Model.Categories)
                                {
                                    <option value="@c.Id">@c.Name</option>
                                }
                            }
                        </select>
                    }
                </div>
                <input type="text" id="name" name="name" value="@Model.Name" class="form-control" placeholder="@Html.Lang("请输入主题标题")" />
            </div>
            <div class="form-group" style="margin-bottom:0px;">
                <textarea name="content" id="editor" class="text" placeholder="@Html.Lang("请输入主题内容")"></textarea>
            </div>
            <div class="form-group">
                <input type="text" name="tags" id="tags" data-role="tagsinput" class="text" placeholder="@Html.Lang("请输入主题标签")" />
            </div>
            <div class="form-btns">
                <button type="submit" name="submit" class="btn btn-success">@Html.Lang("发布")</button>
            </div>
        </form>
    </div>
</div>
@section Header
{
<script type="text/javascript" src="@Url.Absolute(Html.Path("js/jquery.taginput.src.js"))"></script>
<script type="text/javascript" src="@Url.Absolute(Html.Path("js/simditor-all.js"))"></script>
<script type="text/javascript" src="@Url.Absolute(Html.Path("js/simditor-markdown.js"))"></script>
<script type="text/javascript">
    $(function () {
        var editor = new Simditor({
            textarea: $('#editor'),
            markdown: true,
            toolbarFloat:true
        });

        $("#tags").taginput({
            style: "bootstrap",
            placeholder:"添加标签"
        });
    });
</script>
}