@model CreateTopicViewModel
@{
    ViewBag.Title = Html.Lang("发布主题");
}
<div id="main" class="grid grid-right-300">
    <div class="col-1-300">
        <div class="panel">
            <div class="panel-body">
                <form method="post" action="@Url.Content("~/Topic/New/")" id="topic-form" class="form-box">
                    <div class="form-group">
                        <input type="text" id="name" name="name" value="@Model.Name" class="text" placeholder="@Html.Lang("请输入主题标题")" />
                    </div>
                    <div class="form-group">
                        <textarea name="content" id="editor" class="text" placeholder="@Html.Lang("请输入主题内容")"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" name="tags" id="tags" class="text" placeholder="@Html.Lang("请输入主题标签")" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="category" value="@Model.Category" />
                        <button type="submit" name="submit" class="btn btn-success">@Html.Lang("发布")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="sidebar" class="col-2-300">
        @Html.Action("Index", "Widget")
    </div>
</div>
<link rel="stylesheet" type="text/css" href="@Url.Content(Html.Path("css/simditor.css"))" />
<script type="text/javascript" src="@Url.Content(Html.Path("js/simditor-all.min.js"))"></script>
<script type="text/javascript">
    $(function () {
        var editor = new Simditor({
            textarea: $('#editor')
        });
    });
</script>