@model Topic
<div class="forum-panel">
    <div class="page-title">
        <h2>@Html.Lang("回复")</h2>
    </div>
    <div class="comment-editor">
        <form name="comment-form" action="@Url.Content("~/Comment/New/")" method="post">
            <input type="hidden" name="topic" value="@Model.Id" />
            <div class="form-group">
                <textarea name="context" id="comment-context" class="form-simditor"></textarea>
            </div>
            <div class="form-btns">
                <button type="submit" class="btn btn-success comment-submit-btn">发表评论</button>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="@Url.Absolute(Html.Path("css/simditor.css"))" />
<script type="text/javascript" src="@Url.Absolute(Html.Path("js/simditor-all.js"))"></script>
<script type="text/javascript" src="@Url.Absolute(Html.Path("js/simditor-markdown.js"))"></script>
<script type="text/javascript">
    $(function () {
        var editor = new Simditor({
            textarea: $("#comment-context"),
            markdown: true
        });
    });
</script>